:root {
    --padrao: rgba(92, 184, 150, 0.957);
    --cianoClaro: rgba(96, 225, 178, 0.957);
    --azulEscuro: #166391;
    --fonte: "Source Sans Pro", sans-serif;
}

body, html {
    margin: 0;
    padding:0;
}

body {
   background-color: var(--padrao);
    font-family: var(--fonte);
}

main {
    width: 100%;
}

h1 {
    color: whitesmoke;
}

.inputStyle {
    text-align: center;
    display:block;
    padding: 10px 15px; 
    background-color: rgba(252, 252, 252, 0.2); 
    border-radius: 4px;
    border: 1px solid rgba(252, 252, 252, 0.4);
    font-size: 18px;
    margin: 0 0 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.senhaContainer {
    position: relative;
    max-width:280px;
    box-sizing: border-box;
}
.eye-slash {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right:10px;
    width: 22px;
    cursor:pointer;
}

.inputStyle::placeholder {
    color: rgba(255, 245, 245, 0.774);
    font-size: medium;    
    font-weight: 500;
}

.buttonStyle {
    width: 280px;
    text-align: center;
    display:block;
    padding: 10px 15px; 
    background-color: whitesmoke; 
    border-radius: 3px;
    color: var(--padrao);
    font-size: 18px;
    border:none;
    cursor:pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: center center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.recuperarSenhaContainer {
    display:flex;
    justify-content: flex-end;
    margin-top: 15px;
    color:whitesmoke;
    margin-bottom: 20px;
}

.recuperarSenhaContainer a {
    text-decoration: none;
    color: darkblue;
}

.recuperarSenhaContainer a:hover {
    color: rgb(0, 238, 255);
    text-decoration:underline;
}

.enviarClick {
    background-color: #166391;
    color: rgba(96, 225, 178, 0.957);
    border: solid 2px rgba(96, 225, 178, 0.957);
    transform: scale(1.1);
}

.criarConta {
    display:flex;
    justify-content:center;
    color:whitesmoke;
    gap:10px;
    margin-top: 15px;
}

.criarConta a {
    text-decoration: none;
    color: darkblue;
}

.criarConta a:hover {
    color: rgb(0, 238, 255);
    text-decoration:underline;
}

.spanStyle {
    color:rgb(255, 0, 0);
    margin: 4px 0 10px 0;
    display: block;
}

.noMarginBot {
    margin-bottom: 0;
}

.logoForm {
    height:70px;
}

.errorMsgDiv {
    background-color: red;
    position:fixed;
    font-weight: bold;
    color:whitesmoke;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 50px;
    top: -150px;
    opacity: 0;
    transition: 600ms ease-in-out, opacity 600ms ease-in-out;
}

.showErrorMsg {
    opacity: 1;
    top: 50px;
    
}