:root {
    --borda: #8e8d8d;
    --padrao: rgba(92, 184, 150, 0.957);
    --azulClaro: #1588ca;
    --cianoClaro: rgba(96, 225, 178, 0.957);

}

body {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    grid-template-areas: "sidebar main";
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Roboto", sans-serif;

}

aside {
    grid-area: sidebar;
    background-color: white;
    height:100%;
    width: 100%;
    transition: 300ms ease-in-out;
    padding: 20px 10px;
    align-items: center;
    overflow: hidden;
    border: none;
    box-shadow: 3px 0 5px #8e8d8d ;
    z-index: 100;
}

main {
    grid-area: main;
}

#sidebar {
    display:none;
}

#sidebar:checked ~ aside {
    width: 45px;
}

.logo {
    height: 50px;
}

aside ul li a, aside ul li label {
    white-space: nowrap;   
    display: flex;         
    gap:5px;
    align-items: center;  
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color:black;
}

.currentPage {
    color: var(--padrao)
}

.linkPage::after {
    content:'';
    position:absolute;
    width:0px;
    height:3px;
    background-image: linear-gradient(to right, var(--padrao), var(--cianoClaro));
    bottom:-5px;        
    left: 0px;       
    transition: 600ms ease-in-out;
    transform-origin: left;
}

.linkPage:hover::after{
    width: 100%;
}

aside ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display: inline-block;
}

aside ul li {
    margin-bottom: 20px;
} 

aside ul li i {
    font-size: 25px;
    
}
.menuIcon {
    transition: 600ms ease;
    z-index: 10;
}

.menuIcon i {
    font-size: 30px;
}

#sidebar:checked ~ aside ul li .menuIcon  {
    transform: rotate(179deg);
}

.menuIconContainer {
    display: flex;
    justify-content: space-between;
    transition: 600ms ease;
}

.logo {
    transition: 600ms ease;
}

#sidebar:checked ~ aside ul li .menuIconContainer  {
    transform: translateX(-86%);

}

input[type=radio] {
    display:none;
}

input[type=radio]:checked ~ label {
    color:var(--padrao);
}

.geralSpan {
    transition: 600ms ease-in-out;
     display: inline-block;  
    overflow: hidden;       
    white-space: nowrap; 
}

#sidebar:checked ~ aside .geralSpan {
    display:none;
}

#sidebar:checked ~ aside {
    box-sizing: border-box;
}

#sairLink {
    color: var(--azulClaro);
    text-decoration: none;
}

#sairLink:hover {
    color:rgb(0, 72, 255);
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    gap: 20px;
}

.cardContainer:hover {
    transform: scale(0.9);
}

.cardContainer {
    background-color: rgb(252, 252, 252);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 1px gainsboro solid;
    border-radius: 25px;
    transition: 600ms ease-in-out;
    box-sizing: border-box;
    overflow: visible; 
    cursor: pointer;
    font-size: 23px;
    color:black;
    text-decoration: none;
}

.toggle {
    display:none;
}

#cards {
    margin: 0 40px;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
}



.cardContainer {
    position: relative; 
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.cardContainer:hover::after {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding:6px;
    background-image: conic-gradient(from var(--angle), transparent 50%, var(--azulClaro));
    border-radius: 25px;
    animation: 3s spin linear infinite;
}

@property --end{
    syntax: '<angle>';
    initial-value: 360deg;
    inherits: false;
}

.cardContainer:hover::before {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding:6px;
    background-image: conic-gradient(from var(--end), transparent 50%, var(--cianoClaro));
    border-radius: 25px;
    animation: 3s spinEnd linear infinite;
    animation-delay: -1.5s;
}

@keyframes spinEnd {
    from {
        --end: 0deg;
    }to {
        --end: 360deg;
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }to {
        --angle: 360deg;
    }   
}

.cardContent {
    background-color: rgb(252, 252, 252);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 30px 20px;
    border-radius: 25px;
    transition: 600ms ease-in-out;
    box-sizing: border-box;
    overflow: visible; 
    height:100%;
    width: 100%;
}

.cardContent i{
    font-size: 35px;
}

#acessibilidadeLabel {
    background-color: white;
    border:none;
    font-size: 25px;
    padding: 0;
    margin: 0;
    cursor:pointer;
}

#acessibilidadeLabel span{
    font-size: 25px;
}

#acessibilidade {
    display:none;
}

aside {
    position:relative;
}

aside .acessibilidadeContainer {
    height: 100%;
    width: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left:100%;
    transition: 600ms ease-in-out;    
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-left: 3px var(--borda) solid;
    border-right: 3px var(--borda) solid;
    overflow: visible;
    color:transparent;
}

aside .acessibilidadeContainer.termosPage {
    justify-content:flex-start;
}

aside .acessibilidadeContainer * {
    background-color: transparent;
    color: transparent;
}

#acessibilidade:checked ~ aside .acessibilidadeContainer {
   border-left: 3px var(--borda) solid;
    border-right: 3px var(--borda) solid;
    background-color: whitesmoke;
}

#acessibilidade:checked ~ aside .acessibilidadeContainer * {
    color:black;
}

#acessibilidade:checked ~ aside {
    overflow: visible;
}

#sidebar:checked ~ aside {
    overflow: hidden;
}

.background {
    background-color: white;
    height:100%;
    width:100%;
    box-sizing: border-box;
}

.acessibilityBtn {
    background-color: transparent;
    font-size: 35px;
    border:none;
    width:100%;
    padding: 10px 0 10px 0;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.acessibilityBtn:hover {
    background-color:rgb(209, 209, 209);
} 



.menor {
    font-size: 23px;
}

html.dark {
    background-color: #000000;
    color:white;
}

html.dark .background, html.dark aside, html.dark #acessibilidadeLabel, html.dark .cardContainer, html.dark .cardContent, html.dark .linkPage, html.dark .showMenuContainer label i, html.dark .dadosCadastraisContainer, html.dark .linksBar a,html.dark .dadosContainerContent button i {
    background-color: #000000;
    color:white;
}

html.dark .dadosCadastraisContainer:hover {
    color:black;
}

html.dark .linksBar a::after {
    background-color: white;
}

html.dark .linksBar a.selected::after {
    background-color: var(--cianoClaro);
}
html.dark .linksBar a.selected {
    color: var(--cianoClaro);
}

html.dark .dadosContainer  {
    border: 1px solid white;
}
html.dark .dadosContainerContent {
    border-bottom: 1px solid white;
}

html.dark .dadosContainerContent.noBorder {
    border: none;
}

.margin {
    margin: 20px 20px 20px 40px;

}

.twoGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    gap:20px;

}

.resultadosContainer {
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "left topRight"
    "left bottomRight";
    border: 1px solid black;
    border-radius: 25px;
}

.left {
    grid-area: left;
}

.topRight {
    grid-area: topRight;  
    padding: 30px 30px 0 30px;
}

.topRight hr {
    margin-bottom: 0;
    padding-bottom: 0;

}

.bottomRight {
    grid-area: bottomRight;
    padding: 20px 30px;
}

.right {
    grid-area: right;
}

.statusConsultaPaciente {
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
    box-shadow: 3px 0px 5px #8e8d8d;
}

.aguardandoSpan {
    background-color: #d3d3d3;
    color: #333;
}

.recusadoSpan {
    background-color: #ff4b4b;
    color: #fff;
}

.confirmadoSpan {
    background-color: var(--azulClaro);
    color: #fff;
}



.horaConsulta {
    margin-bottom: 15px;
    display: block;
}

.gapBetween {
    display:flex;
    gap: 20px;
    margin: 20px 0 20px 0;
}


.spaceBetween {
    display:flex;
    justify-content: space-between;
    gap:20px;
}

.mostrarResultadosBtn {
    height:auto;
    width:auto;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--azulClaro);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.mostrarResultadosBtn:hover {
    background-color: rgb(0, 157, 255);
} 


.bottomRight a {
    text-decoration: none;
}

.topRight h3 {
    font-size: 25px;
    margin-bottom: 13px;
}

.right {
    display:flex;
    align-items: center;
    justify-content: center;
}

.alterPacientContainer {
    position: relative;    
    z-index: 20;
    margin-bottom: 40px;
}

.pacienteContainer h3 {
    font-size: 20px;
}

.paciente {
    display:flex;
    flex-direction: column;
    gap:5px;
}

.paciente strong, .paciente span {
    font-size: 19px;
}

.pacienteContainer {
    border: 2px solid gainsboro;
    display:inline-block;
    border-radius: 25px;
    padding: 25px 35px;
    position: absolute;
    z-index: 20;
    top:60px;
    left:0;
    background-color: white;
    opacity:0;
    transition: 600ms ease-in-out;
}

html.dark .pacienteContainer {
    background-color: #000;
    color: white;
}

html.dark .paciente {
    background-color: var(--padrao);
}

html.dark .resultadosContainer {
    border: 2px solid white;
}

.paciente {
    background-color: rgba(207, 241, 227, 0.957);
    border-radius: 15px;
    padding: 15px 80px 15px 20px;
}

.dependenteBtn {
  display: block;
  margin: 0 auto;
  color: var(--padrao);
  font-size: 17px;
  font-weight: bold;
  border:none;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
  
}

button.showDropdown ~ .pacienteContainer {
    opacity: 1;
}

.alterPacientBtn {
    cursor: pointer;
}

.alterPacientBtn i {
    transition: 600ms ease;
}

button.showDropdown i {
    transform: rotate(180deg);
}

.alterPacientBtn {
    border:none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 20px;
    color: #000;
}

.showMenuContainer {
    display:none;
}

#showMenu {
    display:none;
}

#showMenu:checked ~ aside {
    height:100%;
    width:100%;
}

.showMenuContainer label i {
    transition: 600ms ease;
    font-size: 30px;
}

#showMenu:checked ~ aside li.showMenuContainer label i{
    transform: rotate(180deg);
}

.centralizado {
    text-align: center;
}

.show {
    display:block;
}

.pacienteBox {
    border: 1px solid #8e8d8d;
    border-radius: 15px;
    font-size: 18px;
    position: relative;
    padding: 20px;
    max-width: 60%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
    cursor:pointer;
    color:black;
}

.pacienteBox h2, .pacienteBox h3 {
    font-size: 19px;
    margin: 0 0 10px 0;
    padding:0;
}

.arrowRightIconContainer {
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
}

.iconContainer i {
    color: black;
}

.addPacienteContainer {
    display: flex;
    align-items: center;
    background-color: rgba(207, 241, 227, 0.957);
    padding: 20px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    color: rgba(64, 138, 112, 0.957);
    cursor: pointer;
    font-size: 20px;
   
}

.addPacienteContainer:hover {
    background-color: var(--padrao);
    color: var(--cianoClaro);
}

.addPacienteContainer i {
    padding: 10px 12px;
    border:none;
    border-radius: 25px;
    background-color: gainsboro;
    text-align: center;
    align-content: center;
    margin-right: 15px;
    font-weight: bold;
}

.addPacienteContainer:hover i {
    background-color: white;
}

.backToInicio {
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.backToInicio i {
    font-size: 40px;
    font-weight: 900;
    color:black;
}

html.dark .backToInicio i {
    color:white;
}

.topContent {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.topContent * {
    margin: 0;
}

.historyAcess {
    background-color: transparent;
    border: none;
    color:var(--padrao);
    font-weight: bold;
    font-size: 18px;
}

.twoCards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(166px, 126px));
    gap: 20px;
    margin-bottom: 40px;
}

#consultas p {
    font-size: 20px;
}

#consultas div.centralizado p {
    font-size: 18px;

}

.agendarEspecialidadeContainer p {
    font-size: 19px;
    margin: 10px 0 50px 0;
}

.agendarEspecialidadeContainer h2 {
    font-size: 22px;
}

.pedidosMedicosText h2{
    font-size: 25px;
}

.pedidosMedicosText p{
    font-size: 19px;
}

p.centralizado {
    text-align: left;
}

.pagamentoParticularCards {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 180px;
    width: 190px;
    padding:10px 15px 0 15px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer !important;
    border: 2px solid gainsboro;
}

.pagamentoParticularCards strong {
    margin-bottom: 5px;
}

.styledSpan {
    background-color: rgba(207, 241, 227, 0.957);
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.pagamentoPlanoCards {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 180px;
    width: 190px;
    font-size: 18px;
    border-radius: 15px;
    padding:10px 15px 10px 15px;
    cursor: pointer;
    border: none;
}

.pagamentoPlanoCards span {
    text-align: left;
}

.pagamentoPlanoCards i {
    font-size: 35px;
}

.pagamentoCardsContainer {
    display:flex;
    gap: 8px;
    margin-top: 15px;
}

#consultaOnline h1 {
    margin-bottom: 35px;
    font-size: 30px;
}

#consultaOnline .alterPacientContainer {
    margin-top: 10px;
}

.especialidadeBtn {
    font-size: 24px;
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-bottom: 2px solid #000;
    min-width: 400px;
    text-align: left;
    position: relative;
    transition: 600ms ease-in-out;
    cursor: pointer;
}

.especialidadeBtn:hover {
    background-color: whitesmoke;
}

.especialidadeBtn i {
    position: absolute;
    right : 5px;
}

.medicoProfileContainer {
    display: flex;
    gap:20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    max-width: 600px;
    justify-content: center;
}

.medicoProfileContainer i {
    font-size: 50px;
}

.medicoProfile {
    display:flex;
    gap: 10px;
    align-items: center;
    border-right: 2px solid #dcdcdc;
    padding-right: 20px;
}

.medicoProfileContainer button {
    border: none;
    background-color: var(--padrao);
    font-size: 18px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    width: 220px;
    padding: 5px 10px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    transition: 600ms ease-in-out;
    transform: scale(1);
}

.medicoProfileContainer button:hover {
    background-color: white;
    color: var(--padrao); 
    border: 1px solid var(--padrao);
    transform: scale(1.1);
}



.backToInicioLink {
   background-color: transparent;
    border:none;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.backToInicioLink i {
    font-size: 40px;
    font-weight: 900;
}

#dadosCadastrais div.topContent h1 {
    font-size: 27px;
}

.dadosCadastraisContent {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "icon content"
        "icon content"
    ;
}

.dadosCadastraisContent {
    grid-area: "icon";
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    transition: 600ms ease;
}

.dadosCadastraisText {
    grid-area: "content";
    text-align: left;
}

.dadosCadastraisText h2 {
    margin:0;
    padding:0;
    font-size: 20px;
}

.dadosCadastraisText span {
    font-size: 15px;
}

#dadosCadastrais .left hr {
    margin:0;
    padding:0;
}

#dadosCadastrais .left .topContent {
    margin-bottom: 50px;
}

.dadosCadastraisContainer {
    text-decoration: none;
    background-color: transparent;
    border: none;
    width: 100%;
    color:black;
}

.dadosCadastraisContainer:hover .dadosCadastraisContent {
   background-color: rgb(246, 246, 246);
}

button.dadosCadastraisContainer .dadosCadastraisContent i {
    text-align: left;
    font-size: 25px;
}

.backToDadosCadastrais {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.backToDadosCadastrais span {
    font-size: 22px;
}

.dadosContainer {
    border: solid 1px black;
    border-radius: 15px;
    width: 100%;
}

.dadosContainerContent {
    display:flex;
    flex-direction: column;
    font-size: 20px;
    gap:5px;
    border-bottom: 1px solid black;
    position: relative;
    padding: 15px 10px;
}

.dadosContainerContent button {
    position:absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor:pointer;
    font-size: 23px;
    transition: 600ms ease;
}

.dadosContainerContent button:hover {
    background-color: rgb(246, 246, 246);
}

.dadosContainerContent button i {
    color:black;
}

.dadosContainerContent input, .dadosContainerContent select  {
    font-size: 21px;
    max-width: 300px;
}
.dadosContainerContent span {
    max-width: 500px;
}
.noBorder {
    border: none;
}

.linksBar {
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.linksBar a {
    text-decoration: none;
    color:black;
    position: relative;
    padding: 0 40px 10px 40px;
    font-size: 23px;
}

.linksBar a:after {
    content: '';
    width:100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}

.linksBar a:hover {
    font-weight: bold;
}

.linksBar a.selected {
    color: var(--padrao);
}

.linksBar a.selected::after {
    background-color: var(--padrao);
}

#termos {
    margin-left: 40px;
}

.compartilharExames {
    cursor:not-allowed;
}

.linksBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.linksBar a {
  flex: 1 1 auto;
  min-width: 100px; 
  text-align: center;
}

.inputsContainer.column {
    display:flex;
    flex-direction: column;
}

.inputsContainer.column input, .inputsContainer.column label {
    cursor: pointer;
}

.inputsContainer.column label {
    margin-top: 5px;
}

.inputsContainer.column input[type="submit"] {
    margin-top: 10px;
}

.inputsContainer.column.hide {
    display:none;
    max-width: 300px;
}

.inputsContainer input[type="radio"] {
    display:inline-block;
}

.spanStyle {
    color:red;
}

.hide {
    display: none;
}

.deletarContaDiv {
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 40px 60px;
    border-radius: 25px;
    border: 2px solid gainsboro;
    background-color: var(--padrao);
    color:white;
    font-weight: bold;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    top: -100%;
    opacity: 0;
    transition: top 600ms ease-in-out, opacity 600ms ease-in-out;
    
}

.showDeletarDiv {
    top: 50px;
    opacity: 1;
}

.opcoesDeletarConta {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.opcoesDeletarConta a {
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight: bold;
    background-color: whitesmoke;
    border:2px solid #000;
    padding: 5px 10px;
    border-radius: 8px; 
    transition: 600ms ease-in-out;
}

.opcoesDeletarConta a:hover {
    background-color: red;
    color:white;
    border: 2px solid whitesmoke;
}

.opcoesDeletarConta button {
    font-size: 20px;
    background-color: #427ddd;
    border: 2px solid whitesmoke;
    color:  whitesmoke;
    padding: 5px 10px;
    border-radius: 8px; 
    transition: 600ms ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.opcoesDeletarConta button:hover {
    background-color: #1765e3;
    border: 2px solid whitesmoke;
    color:whitesmoke;
}

.horarioAgendamento {
    display:flex;
    gap: 20px;
    margin-top: 20px;
}

.horarioAgendamento label {
    border: 2px solid black;
    border-radius: 10px;
    cursor:pointer;
    padding: 10px 20px;
}

.dataAgendamentoContainer {
    margin-top: 15px;
}

label:has(.agendamentoInput:checked) {
  background-color:var(--padrao);
}

.dataAgendamento {
    font-size: 25px;
    border: none;
}

.agendarConsultaBtn {
  background-color: var(--azulClaro);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  font-weight: 600;
  font-size: 17px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* Hover effect */
.agendarConsultaBtn:hover {
  background-color: #ffffff;
  color: var(--azulClaro);
  border-color: var(--azulClaro);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

@media(max-width: 980px) {
    .margin {
        margin: 20px 20px 20px 10px;
    }

    #geral.twoGrid {
    margin:0 10px 0 10px;
    }

    .vacinasAlterPacientContainer{
        display:flex;
        justify-content: center;
    }

    .twoCards {
        justify-content: center;
    }

    .showMenuContainer {
        display:inline-block;
    }

    body {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        min-height: 100vh;
        grid-template-areas: "main main" "sidebar sidebar";
    }

   aside {
    height:80px;
    width: 100%;
    margin:0;
    margin-top: 10px;
    padding:0;
    position: sticky;
    bottom:0;
    border-right: none;
    border-top: 1px  #8e8d8d solid;
    z-index: 100;

   }

   .background {
    padding:20px 10px 5px 10px;
   }

   aside ul li:first-child, .geralSpanContainer  {
    display: none;
   } 

   aside ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding-bottom: 10px ;
    }

   aside ul li {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
   }

   aside ul li a, #sairLink, aside ul li label {
    display:flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
   }

   aside ul li  a, .sairContainer, #acessibilidadeLabel span{
    font-size: smaller;

   }

   aside ul li a span {
    font-size: 20px;
   }

   .linkPage::after {
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center ;
    }

    h1 {
        text-align: center;
    }

    aside .acessibilidadeContainer {
        left:0;
        bottom: 100%;
        width:100%;
        height:30px;
        display:flex;
        flex-direction: row;
        border: none;
        border-top: 3px var(--borda) solid;
        border-bottom: 3px var(--borda) solid;
        padding: 10px 0;
        align-items: center;
    }

    #acessibilidade:checked ~ aside {
        padding-top: 60px;
    }

    #acessibilidade:checked ~ aside .acessibilidadeContainer {
        left:0;
        bottom: -100%;
    }

    .acessibilityBtn {
        width: auto;
        padding: 5px 10px;
    }

    #cards {
        margin: 0 20px;
    }

    .resultadosContainer {
    display:grid ;
    grid-template-columns:  auto ;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    "left"
    "topRight"
     "bottomRight" 
     
    ;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 19;
    }

    .resultadosLeft {
    display:flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 2px 5px #8e8d8d;
    padding: 5px 0 8px 0;
    }

    .spaceBetween {
        gap:20px;
    }

    .right {
        display:none;
    }

    .twoGrid {
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
        grid-template-areas: "left" "right";
        gap:20px;
    }

    .alterPacientBtn {
        display: block;
        margin: 0 auto;
    }

    p.centralizado {
        text-align: center;
    }
    
    .naoCentralizado {
        text-align: left;
    }

    #consultaOnline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pacienteContainer {
        left:50%;
       transform: translateX(-50%); 
       width: 250px;
    }
}